/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffc107;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1c6c6;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(73, 172, 202, 0.1);
}

.game-board {
  display: flex;
  flex-direction: column;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.board-row {
  display: flex;
}

.square {
  background-color: #fffae6;
  border: 3px solid #e2ae60;
  font-size: 36px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.square:hover {
  background-color: #fff3e0;
  transform: scale(1.1);
}

.square:active {
  background-color: #ffe0b2;
}

.game-info {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

ol {
  padding-left: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #811a00;
  cursor: pointer;
  font-size: 16px;
  
}

button:hover {
  background-color: #ec0000;
  
  
}

button:active {
  background-color: #9b0000;
}

.reset-button {
  margin-top: 10px;
  background-color: #922200;
  color: white;
}
.start-button {
  margin-top: 10px;
  background-color: #922200;
  color: white;
}
@media (max-width: 600px) {
  .square {
    width: 70px;
    height: 70px;
    font-size: 24px;
  }

  .game {
    padding: 20px;
  }
}
